/* Estilo adicional para las metas */
.goal .progress-bar {
    height: 25px; /* Aumenta el tamaño de la barra de progreso */
    border-radius: 10px; /* Bordes redondeados en las barras */
}

.goal .progress-bar[aria-valuenow="100"] {
    background-color: #28a745; /* Verde cuando está completo */
}

.goal .card-body {
    text-align: center;
    padding: 20px;
}

.goal p {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.goal small {
    font-size: 0.9rem;
    color: #6c757d; /* Color de texto más suave */
}

.goal {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.goal:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
